src/conf/xml-resources/web-service-references/T24Interface_1/wsdl/tm-db_8080/PrimeraGateway/T24Interface.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.main/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.main/" name="T24Interface">
<types>
<xsd:schema>
<xsd:import namespace="http://service.main/" schemaLocation="http://tm-db:8080/PrimeraGateway/T24Interface?xsd=1"/>
</xsd:schema>
</types>
<message name="GetAccountsByPhoneNo">
<part name="parameters" element="tns:GetAccountsByPhoneNo"/>
</message>
<message name="GetAccountsByPhoneNoResponse">
<part name="parameters" element="tns:GetAccountsByPhoneNoResponse"/>
</message>
<message name="Retreivesignature">
<part name="parameters" element="tns:Retreivesignature"/>
</message>
<message name="RetreivesignatureResponse">
<part name="parameters" element="tns:RetreivesignatureResponse"/>
</message>
<message name="GetCustomerTransactions">
<part name="parameters" element="tns:GetCustomerTransactions"/>
</message>
<message name="GetCustomerTransactionsResponse">
<part name="parameters" element="tns:GetCustomerTransactionsResponse"/>
</message>
<message name="GetAccountByAccountNo">
<part name="parameters" element="tns:GetAccountByAccountNo"/>
</message>
<message name="GetAccountByAccountNoResponse">
<part name="parameters" element="tns:GetAccountByAccountNoResponse"/>
</message>
<message name="GetBalance">
<part name="parameters" element="tns:GetBalance"/>
</message>
<message name="GetBalanceResponse">
<part name="parameters" element="tns:GetBalanceResponse"/>
</message>
<message name="GetPassport">
<part name="parameters" element="tns:GetPassport"/>
</message>
<message name="GetPassportResponse">
<part name="parameters" element="tns:GetPassportResponse"/>
</message>
<message name="PlaceLien">
<part name="parameters" element="tns:PlaceLien"/>
</message>
<message name="PlaceLienResponse">
<part name="parameters" element="tns:PlaceLienResponse"/>
</message>
<message name="GetCustomer">
<part name="parameters" element="tns:GetCustomer"/>
</message>
<message name="GetCustomerResponse">
<part name="parameters" element="tns:GetCustomerResponse"/>
</message>
<message name="UnPlaceLien">
<part name="parameters" element="tns:UnPlaceLien"/>
</message>
<message name="UnPlaceLienResponse">
<part name="parameters" element="tns:UnPlaceLienResponse"/>
</message>
<message name="UpdatePhoneNo">
<part name="parameters" element="tns:UpdatePhoneNo"/>
</message>
<message name="UpdatePhoneNoResponse">
<part name="parameters" element="tns:UpdatePhoneNoResponse"/>
</message>
<message name="GetAccounts">
<part name="parameters" element="tns:GetAccounts"/>
</message>
<message name="GetAccountsResponse">
<part name="parameters" element="tns:GetAccountsResponse"/>
</message>
<portType name="T24Interface">
<operation name="GetAccountsByPhoneNo">
<input wsam:Action="http://service.main/T24Interface/GetAccountsByPhoneNoRequest" message="tns:GetAccountsByPhoneNo"/>
<output wsam:Action="http://service.main/T24Interface/GetAccountsByPhoneNoResponse" message="tns:GetAccountsByPhoneNoResponse"/>
</operation>
<operation name="Retreivesignature">
<input wsam:Action="http://service.main/T24Interface/RetreivesignatureRequest" message="tns:Retreivesignature"/>
<output wsam:Action="http://service.main/T24Interface/RetreivesignatureResponse" message="tns:RetreivesignatureResponse"/>
</operation>
<operation name="GetCustomerTransactions">
<input wsam:Action="http://service.main/T24Interface/GetCustomerTransactionsRequest" message="tns:GetCustomerTransactions"/>
<output wsam:Action="http://service.main/T24Interface/GetCustomerTransactionsResponse" message="tns:GetCustomerTransactionsResponse"/>
</operation>
<operation name="GetAccountByAccountNo">
<input wsam:Action="http://service.main/T24Interface/GetAccountByAccountNoRequest" message="tns:GetAccountByAccountNo"/>
<output wsam:Action="http://service.main/T24Interface/GetAccountByAccountNoResponse" message="tns:GetAccountByAccountNoResponse"/>
</operation>
<operation name="GetBalance">
<input wsam:Action="http://service.main/T24Interface/GetBalanceRequest" message="tns:GetBalance"/>
<output wsam:Action="http://service.main/T24Interface/GetBalanceResponse" message="tns:GetBalanceResponse"/>
</operation>
<operation name="GetPassport">
<input wsam:Action="http://service.main/T24Interface/GetPassportRequest" message="tns:GetPassport"/>
<output wsam:Action="http://service.main/T24Interface/GetPassportResponse" message="tns:GetPassportResponse"/>
</operation>
<operation name="PlaceLien">
<input wsam:Action="http://service.main/T24Interface/PlaceLienRequest" message="tns:PlaceLien"/>
<output wsam:Action="http://service.main/T24Interface/PlaceLienResponse" message="tns:PlaceLienResponse"/>
</operation>
<operation name="GetCustomer">
<input wsam:Action="http://service.main/T24Interface/GetCustomerRequest" message="tns:GetCustomer"/>
<output wsam:Action="http://service.main/T24Interface/GetCustomerResponse" message="tns:GetCustomerResponse"/>
</operation>
<operation name="UnPlaceLien">
<input wsam:Action="http://service.main/T24Interface/UnPlaceLienRequest" message="tns:UnPlaceLien"/>
<output wsam:Action="http://service.main/T24Interface/UnPlaceLienResponse" message="tns:UnPlaceLienResponse"/>
</operation>
<operation name="UpdatePhoneNo">
<input wsam:Action="http://service.main/T24Interface/UpdatePhoneNoRequest" message="tns:UpdatePhoneNo"/>
<output wsam:Action="http://service.main/T24Interface/UpdatePhoneNoResponse" message="tns:UpdatePhoneNoResponse"/>
</operation>
<operation name="GetAccounts">
<input wsam:Action="http://service.main/T24Interface/GetAccountsRequest" message="tns:GetAccounts"/>
<output wsam:Action="http://service.main/T24Interface/GetAccountsResponse" message="tns:GetAccountsResponse"/>
</operation>
</portType>
<binding name="T24InterfacePortBinding" type="tns:T24Interface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetAccountsByPhoneNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Retreivesignature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetCustomerTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAccountByAccountNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetPassport">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PlaceLien">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UnPlaceLien">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdatePhoneNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="T24Interface">
<port name="T24InterfacePort" binding="tns:T24InterfacePortBinding">
<soap:address location="http://tm-db:8080/PrimeraGateway/T24Interface"/>
</port>
</service>
</definitions>